configure
config.log
config.guess
run-tests.php
config.h
config.sub
ltmain.sh
Makefile.fragments
Makefile.objects
modules
.deps
Makefile.global
Makefile
mkinstalldirs
config.nice
include
configure.in
config.status
build
config.h.in
libtool
autom4te.cache
acinclude.m4
missing
aclocal.m4
install-sh
.libs
*.lo
*.la
